<html (mousemove)="onMove()">
<title>Metas</title>
    <table>
        <tr>
            <td><label>Metas</label></td>
            <td><input [(ngModel)]="meta.nome" name="namebox"></td>
            <td name="msgmetaexistente" *ngIf="metaduplicada">
                já existe uma meta com esse nome
            </td>
            <td><button (click)="cadastrarMeta(meta)">Adicionar</button></td>
        </tr>
    </table>

    <table>
        <tr *ngIf="metas.length > 0">
            <th>Metas</th>
        </tr>
        <tr *ngFor="let m of metas" nema="metalist">
            <td name="nomelist">{{m.nome}}</td>
            <td><button (click)="removerMeta(m)">Remover</button></td>
        </tr>
    </table>

</html>